body {
    /* margin: 0; */
    background-color: rgb(255, 255, 255);
    width: 99%;
    height: 100vh;
  }
  
  header {
    width: 100%;
    height: 30vh;
    background-color: white;
    border: 5px solid black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
  }

  #box1 {
    border: 5px rgb(151, 108, 182);
    background-color: rgb(151, 108, 182);
    height: 20vh;
    display: flex;
    flex-direction: column;
    width: 80px;
    position: absolute;
    top: 120px;
    left: 30px;
    align-items: center;
  }
  
  #box2 {
    border: 5px rgb(13, 117, 20);
    background-color: rgb(13, 117, 20);
    height: 25vh;
    width: 800px;
    position: absolute;
    top: 50px;
    left: 230px;
    align-items: center;
  }

  #box3 {
    border: 5px lightblue;
    border-radius: 50%;
    background-color: lightblue;
    height: 25vh;
    width: 350px;
    top: 50px;
    left: 1150px;
    position: absolute;
    align-items: center;
  }

  main {
        width: 100%;
        height: 30vh;
        background-color: white;
        border: 5px dotted black;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        align-items: center;
      }
  #rec {
    width: 80%;
    height: 20vh;
    position: absolute;
    background-color: beige;
    box-shadow: 10px 10px 15px;
    top: 510px;
    left: 240px;


  }

  footer { 
    width: 20%;
    height: 25vh;
    position: absolute;
    background-color: rgb(252, 252, 252);
    box-shadow: 10px 10px 15px;
    top: 900px;
    left: 900px;
  }

  p {
    color: blue;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    top: 500px;
  }